/* GENERAL STUFF */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
  border-radius: 10px;
  margin: 10px 20px; 
  font-weight: bold;
  color: white;
}

.normalPage{
  background-color: #a6dad5;
}

.pageHeader{
  font-weight: bold;
  font-size: 32px;
}

.dropdown{
  color: black;
}

/* NAVIGATION BAR */

.navbar{
  background-color: #009688;
}

.homeButton{
  background-color: red;
}

.navButton{
  background-color: #6cc2ba;
}

.loginButton{
  background-color:blue;
}

.userName{
  color:white;
  background-color: black;
  font-weight: bold;
  float: right;
  text-align: center;
  font-size: 140%;
  margin: 10px 20px 0 0;
  padding: 5px 10px;
  border-radius: 10px;
  width: 10%;
  height: 30px;
}

/* HOME PAGE */

.doctors{
  color:blue;
}

.patients{
  color: red;
}

/* OTHER BUTTONS */

a {
  color: white;
  text-decoration: none;
}

.addButton{
  background-color: #009688;
  width: 250px;
}

.editButton{
  background-color: #82b440;
}

/* LIST PAGES */

.tableHeader{
  text-align: left;
  font-size: 24px;
  padding-left: 20px;
  color: red;
  margin-left: 20px;
}

.tableBody{
  text-align: left;
}
.mediumColumn{
  width: 20%;
  font-weight: bold;
  font-size: 24px;
  padding: 5px;
  padding-left: 20px;
}

.userColumn{
  width: 20%;
  font-weight: bold;
  font-size: 24px;
  padding-left: 20px;
}

.buttonColumn{
  width: 15%;
}


/* INFORMATION PAGES */

.Photo{
  float: left;
  padding: 5px;
  margin-left: 10%;
  width: auto;
}

.Info{
  float:right;
  text-align: left;
  width: 50%;
  font-size: 24px;
  background-color: azure;
  margin-right: 50px;
  padding: 10px;
}

.mediumImage{
  width: 75%;
}

.doctorName{
  color: blue;
  text-decoration: underline;
}

/* APPOINTMENTS TABLE */

.appoinmentsList{
  margin: 350px 50px 0 50px;
  padding-bottom: 20px;
  background-color: white;
}

.appointmentsHeader{
  font-weight: bold;
  font-size: 36px;
}

.appointmentColumn{
  width: 20%;
  text-align: left;
  padding-left: 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 24px;
}


/* EDIT PAGES */

.editPage{
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  margin: 0 0 20px 10%;
  text-align: left;
  font-weight: bold;
}

.editFieldLabel{
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  margin: 0 0 20px 10%;
  text-align: left;
  font-weight: bold;
}

.editField{
  border-radius: 10px;
  width: 400px;
  font-size: 20px;
  color: black;
  font-weight:normal;
}

.smallImage{
  width: 25%;
}

/* LOGIN AND SIGNUP */

.loginPage{
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  margin: 0 0 0 200px;
  text-align: left;
  font-weight: bold;
}

.loginLabel{
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  margin: 0;
  text-align: left;
  font-weight: bold;
}

.loginField{
  border-radius: 10px;
  width: 400px;
  font-size: 20px;
  margin-bottom: 50px;
}


/* ERROR HANDLING */

.errorMessage{
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 20px;
  width: 50%;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 10px;
}

.longMessage{
  background-color: indianred;
  font-weight: bold;
  width: 60%;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
}

.warningMessage{
  color: white;
  padding-top: 20px;
  margin: auto;
  justify-content: center;
}

.linkMessage{
  text-decoration: underline;
  padding: 1px;
}

.link{
  color: blue;
}

::placeholder{
  font-weight: bold;
  color: red;
}

.singlePerson{
  margin-bottom: 500px;
}

/* FOOTER */
.site-footer
{
  background-color: #009688;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#1a1919;
  margin-top: 5%;
  margin-bottom: -2%;
}
.site-footer a
{
  color:#1a1919;
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}